<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="logo" src="images/test.svg" alt="">CrowdQuest
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- <a href="login" class="nav-link"> <%= Status %> </a> -->
                    <% if(!Condition){ %> 
                        <a href="login" class="nav-link"> <%= Status %> </a>
                    <% }else{ %> 
                        <a href="" class="nav-link"> <%= Status %> </a>
                    <% } %> 
                </li>
            </ul>
        </div>
    </div>
</nav>

